<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bao Nghi</title>
</head>

<body>
    <form id="frm-123" action="">
        <input type="text" id="aidi" onkeyup="myFunc()" name="BaoNghi" value="123">
        <button id="btn-click" onclick="myFunc()" form="frm-123" type="button">Click</button>
    </form>
    <p id="show_err"></p>

    <script>
        function myFunc() {
            const input = document.getElementById('aidi');
            const inputValue = input.value
            const show_err = document.getElementById('show_err');

            console.log(input)

            if (inputValue.length < 1) {
                show_err.innerText = "Không nhập gì"
            } else if (Number((inputValue))) {
                show_err.innerText = "Bạn vừa nhập một số"
            } else {
                show_err.innerText = "Bạn vừa nhập: " + inputValue
            }
        }
    </script>
</body>

</html>
